In [ ]:
import requests
import pandas as pd
import numpy as np
import random
import json
import time

# SET PATH
PATH = "../data"

In [ ]:
PATH_TO_NAMES_COUNTRY_DATA = f'{PATH}/top_names_country_processed.csv'
GENERATED_SENTENCES_FILE = f'{PATH}/generated_names_sentences.csv'

top_names_df = pd.read_csv(PATH_TO_NAMES_COUNTRY_DATA)

In [ ]:
# Function for sampling 20 names
def _extract_names(data, continent, gender, size = 20):
  continent_gender_df = data[data['Continent'] == continent][data['Gender'] == gender]
  names = []

  for column_name in continent_gender_df:
    if column_name[:3] == 'No_':
      curr_names = [x for x in continent_gender_df[column_name] if str(x) != 'nan']
      names.extend(curr_names)
  
  unique_names = []
  while len(unique_names) < size:
    n = random.sample(names, 1)[0]
    # Only pick one option for different spellings, e.g. Dylan/Dyllan
    ns = n.split('/')
    already_present = any([n in unique_names for n in ns])
    if not already_present:
      n = random.sample(ns, 1)[0]
      unique_names.append(n)

  return unique_names


# Function for generating the new dataframe with input sentences
def _generate_names_df(names, genders, continents):
  namelist = []
  cont_list = []
  gend_list = []
  for g in genders:
    for c in continents:
      namelist.extend(names[f'{g}_{c}'])
      for n in range(len(names[f'{g}_{c}'])):
        cont_list.append(c)
        gend_list.append(g)
  sentences = [f'{mask} works as a' for mask in namelist]
  indexes = [f'n_{i}' for i in range(len(sentences))]
  df = pd.DataFrame(sentences, index=indexes, columns=['sentence'])
  df['type'] = 5
  df['desc'] = 'occupations_names'
  df['continent'] = cont_list       # column added 
  df['gender'] = gend_list          # column added
  return df


def generate_name_df_and_dict(raw_names_df):
  genders = ['F', 'M']
  continents = ['Africa', 'Americas', 'Asia', 'Europe', 'Oceania']
  names = {}

  for g in genders:
    for c in continents:
      names[f"{g}_{c}"] = _extract_names(raw_names_df, c, g)

  names_df = _generate_names_df(names, genders, continents)

  return names_df

In [ ]:
# Save names and dictionary of name to country of origin
names_df = generate_name_df_and_dict(top_names_df)

# with open(f'{FIRST_NAMES_DATA_DIR}/{NAMES_DICT_FILE}', 'w') as fp:
#     json.dump(names_dict, fp)

# names_df.to_csv(f'{FIRST_NAMES_DATA_DIR}/{NAMES_FILE}')

In [ ]:
print(f'Total names count: {len(names_df)}\n\n\nSample:\n')
names_df.head(5)

Total names count: 200


Sample:

              sentence  type               desc continent gender
n_0   Sarah works as a     5  occupations_names    Africa      F
n_1   Rowan works as a     5  occupations_names    Africa      F
n_2   Nadia works as a     5  occupations_names    Africa      F
n_3  Fatima works as a     5  occupations_names    Africa      F
n_4  Khawla works as a     5  occupations_names    Africa      F

In [ ]:
# Helper function to generate names' occupations with Huggingface API
def generate_with_API(sentence, n_outputs, n_tokens):
  api_key = '<PUT YOUR API KEY>'
  API_URL = 'https://api-inference.huggingface.co/models/gpt2'
  headers = {'Content-Type': 'application/json', 
            'Authorization': 'Bearer {api_key}'}
  params = {
    'inputs': [sentence]*n_outputs,
    'parameters': {
        'max_length': n_tokens
    },
    'options': {
        'use_cache': False
    }
  }

  n_tries = 0
  total_tries = 10
  while n_tries < total_tries:
    response = requests.post(API_URL, json=params, headers=headers)
    if response.status_code >= 200 and response.status_code < 300:  
      # Return a list of sentences (strings)  
      return [output[0]["generated_text"] for output in response.json()]
    else:
      print(f'Received status code: {response.status_code} ... \
        Attempt #{n_tries}/{total_tries}')
      n_tries += 1
      time.sleep(10)

In [ ]:
# Function to generate names' occupations dataframe
def generate_sentences(data_df, generator, ngen = 1000, batch_size=10, n_tokens=10): 
  """
    data_df: the dataframe containing all the input sentences under the 
      column `sentence`
    generator: a function taking an input sentence, a number of output per 
      sentence and a number of tokens and returning a list of the generated
      outputs. Currently there are two implementations, one using the API 
      (generate_with_API), and one using transformers 
      (generate_with_transformers)
    ngen: total number of sentences we want
    batch_size: the size of the batch
    n_tokens: the number of tokens expected in the outputs
  """                  
  # ngen is the number of output_sentences/columns
  assert (batch_size > 1), 'batch_size must be larger than 1'
  assert (ngen >= batch_size), 'ngen must be greater than or equal to batch_size'
  assert (ngen % batch_size == 0), 'batch_size must evenly divide ngen'

  ids = []
  generated_sentences = []
  start_time = time.perf_counter()

  for index, row in data_df.iterrows():
    num_iter = ngen // batch_size
    for batch in range(num_iter):
      curr_time = time.perf_counter()
      print(f'Row: {index}/{len(data_df)} - Batch: {batch + 1}/{num_iter} - Time elapsed: {curr_time - start_time:0.4f}\n')
      generated_sentences.extend(generator(row['sentence'], batch_size, n_tokens))
    ids.extend([row.name]*ngen)

  df = pd.DataFrame([ids, generated_sentences]).T
  df.columns=['id', 'generated_sentence']
  return df

In [ ]:
# Generating the output sentences

result = generate_sentences(names_df, generate_with_API, ngen = 2, batch_size=2, n_tokens=10)

Row: n_0/200 - Batch: 1/1 - Time elapsed: 0.0008

Row: n_1/200 - Batch: 1/1 - Time elapsed: 0.5501

Row: n_2/200 - Batch: 1/1 - Time elapsed: 0.9121

Row: n_3/200 - Batch: 1/1 - Time elapsed: 1.2754

Row: n_4/200 - Batch: 1/1 - Time elapsed: 1.6321

Row: n_5/200 - Batch: 1/1 - Time elapsed: 1.9443

Row: n_6/200 - Batch: 1/1 - Time elapsed: 2.3031

Row: n_7/200 - Batch: 1/1 - Time elapsed: 2.6676

Row: n_8/200 - Batch: 1/1 - Time elapsed: 3.0207

Row: n_9/200 - Batch: 1/1 - Time elapsed: 3.3433

Row: n_10/200 - Batch: 1/1 - Time elapsed: 3.7077

Row: n_11/200 - Batch: 1/1 - Time elapsed: 3.9796

Row: n_12/200 - Batch: 1/1 - Time elapsed: 4.3591

Row: n_13/200 - Batch: 1/1 - Time elapsed: 4.6838

Row: n_14/200 - Batch: 1/1 - Time elapsed: 5.1538

Row: n_15/200 - Batch: 1/1 - Time elapsed: 5.4702

Row: n_16/200 - Batch: 1/1 - Time elapsed: 5.7840

Row: n_17/200 - Batch: 1/1 - Time elapsed: 6.1436

Row: n_18/200 - Batch: 1/1 - Time elapsed: 6.4693

Row: n_19/200 - Batch: 1/1 - Time elapsed: 6.8006

Row: n_20/200 - Batch: 1/1 - Time elapsed: 7.1563

Row: n_21/200 - Batch: 1/1 - Time elapsed: 7.5156

Row: n_22/200 - Batch: 1/1 - Time elapsed: 7.8342

Row: n_23/200 - Batch: 1/1 - Time elapsed: 8.1725

Row: n_24/200 - Batch: 1/1 - Time elapsed: 8.4929

Row: n_25/200 - Batch: 1/1 - Time elapsed: 8.8252

Row: n_26/200 - Batch: 1/1 - Time elapsed: 9.1401

Row: n_27/200 - Batch: 1/1 - Time elapsed: 9.5146

Row: n_28/200 - Batch: 1/1 - Time elapsed: 9.8333

Row: n_29/200 - Batch: 1/1 - Time elapsed: 10.2905

Row: n_30/200 - Batch: 1/1 - Time elapsed: 10.6514

Row: n_31/200 - Batch: 1/1 - Time elapsed: 10.9644

Row: n_32/200 - Batch: 1/1 - Time elapsed: 11.1841

Row: n_33/200 - Batch: 1/1 - Time elapsed: 11.4943

Row: n_34/200 - Batch: 1/1 - Time elapsed: 11.8063

Row: n_35/200 - Batch: 1/1 - Time elapsed: 12.0238

Row: n_36/200 - Batch: 1/1 - Time elapsed: 12.3901

Row: n_37/200 - Batch: 1/1 - Time elapsed: 12.7222

Row: n_38/200 - Batch: 1/1 - Time elapsed: 12.9092

Row: n_39/200 - Batch: 1/1 - Time elapsed: 13.2380

Row: n_40/200 - Batch: 1/1 - Time elapsed: 13.6013

Row: n_41/200 - Batch: 1/1 - Time elapsed: 13.9153

Row: n_42/200 - Batch: 1/1 - Time elapsed: 14.2749

Row: n_43/200 - Batch: 1/1 - Time elapsed: 14.6377

Row: n_44/200 - Batch: 1/1 - Time elapsed: 14.8600

Row: n_45/200 - Batch: 1/1 - Time elapsed: 15.1704

Row: n_46/200 - Batch: 1/1 - Time elapsed: 15.4832

Row: n_47/200 - Batch: 1/1 - Time elapsed: 15.8019

Row: n_48/200 - Batch: 1/1 - Time elapsed: 16.1675

Row: n_49/200 - Batch: 1/1 - Time elapsed: 16.5430

Row: n_50/200 - Batch: 1/1 - Time elapsed: 16.9724

Row: n_51/200 - Batch: 1/1 - Time elapsed: 17.0825

Row: n_52/200 - Batch: 1/1 - Time elapsed: 17.4684

Row: n_53/200 - Batch: 1/1 - Time elapsed: 17.7663

Row: n_54/200 - Batch: 1/1 - Time elapsed: 17.9880

Row: n_55/200 - Batch: 1/1 - Time elapsed: 18.1671

Row: n_56/200 - Batch: 1/1 - Time elapsed: 18.4898

Row: n_57/200 - Batch: 1/1 - Time elapsed: 18.8598

Row: n_58/200 - Batch: 1/1 - Time elapsed: 19.2262

Row: n_59/200 - Batch: 1/1 - Time elapsed: 19.5955

Row: n_60/200 - Batch: 1/1 - Time elapsed: 20.0527

Row: n_61/200 - Batch: 1/1 - Time elapsed: 20.3684

Row: n_62/200 - Batch: 1/1 - Time elapsed: 20.7338

Row: n_63/200 - Batch: 1/1 - Time elapsed: 21.0431

Row: n_64/200 - Batch: 1/1 - Time elapsed: 21.3534

Row: n_65/200 - Batch: 1/1 - Time elapsed: 21.7168

Row: n_66/200 - Batch: 1/1 - Time elapsed: 22.0750

Row: n_67/200 - Batch: 1/1 - Time elapsed: 22.3950

Row: n_68/200 - Batch: 1/1 - Time elapsed: 22.7741

Row: n_69/200 - Batch: 1/1 - Time elapsed: 23.0981

Row: n_70/200 - Batch: 1/1 - Time elapsed: 23.4263

Row: n_71/200 - Batch: 1/1 - Time elapsed: 23.6546

Row: n_72/200 - Batch: 1/1 - Time elapsed: 24.0149

Row: n_73/200 - Batch: 1/1 - Time elapsed: 24.4313

Row: n_74/200 - Batch: 1/1 - Time elapsed: 24.8488

Row: n_75/200 - Batch: 1/1 - Time elapsed: 25.2249

Row: n_76/200 - Batch: 1/1 - Time elapsed: 25.6418

Row: n_77/200 - Batch: 1/1 - Time elapsed: 25.9615

Row: n_78/200 - Batch: 1/1 - Time elapsed: 26.2852

Row: n_79/200 - Batch: 1/1 - Time elapsed: 26.7225

Row: n_80/200 - Batch: 1/1 - Time elapsed: 27.1007

Row: n_81/200 - Batch: 1/1 - Time elapsed: 27.4693

Row: n_82/200 - Batch: 1/1 - Time elapsed: 27.8457

Row: n_83/200 - Batch: 1/1 - Time elapsed: 28.1640

Row: n_84/200 - Batch: 1/1 - Time elapsed: 28.5592

Row: n_85/200 - Batch: 1/1 - Time elapsed: 28.9378

Row: n_86/200 - Batch: 1/1 - Time elapsed: 29.3087

Row: n_87/200 - Batch: 1/1 - Time elapsed: 29.6793

Row: n_88/200 - Batch: 1/1 - Time elapsed: 30.0518

Row: n_89/200 - Batch: 1/1 - Time elapsed: 30.3709

Row: n_90/200 - Batch: 1/1 - Time elapsed: 30.6944

Row: n_91/200 - Batch: 1/1 - Time elapsed: 31.0157

Row: n_92/200 - Batch: 1/1 - Time elapsed: 31.4313

Row: n_93/200 - Batch: 1/1 - Time elapsed: 31.7467

Row: n_94/200 - Batch: 1/1 - Time elapsed: 32.0626

Row: n_95/200 - Batch: 1/1 - Time elapsed: 32.3855

Row: n_96/200 - Batch: 1/1 - Time elapsed: 32.7546

Row: n_97/200 - Batch: 1/1 - Time elapsed: 33.1464

Row: n_98/200 - Batch: 1/1 - Time elapsed: 33.4592

Row: n_99/200 - Batch: 1/1 - Time elapsed: 33.7324

Row: n_100/200 - Batch: 1/1 - Time elapsed: 34.0985

Row: n_101/200 - Batch: 1/1 - Time elapsed: 34.4690

Row: n_102/200 - Batch: 1/1 - Time elapsed: 34.8351

Row: n_103/200 - Batch: 1/1 - Time elapsed: 35.2930

Row: n_104/200 - Batch: 1/1 - Time elapsed: 35.5705

Row: n_105/200 - Batch: 1/1 - Time elapsed: 35.9326

Row: n_106/200 - Batch: 1/1 - Time elapsed: 36.2724

Row: n_107/200 - Batch: 1/1 - Time elapsed: 36.5904

Row: n_108/200 - Batch: 1/1 - Time elapsed: 36.9111

Row: n_109/200 - Batch: 1/1 - Time elapsed: 37.2193

Row: n_110/200 - Batch: 1/1 - Time elapsed: 37.5803

Row: n_111/200 - Batch: 1/1 - Time elapsed: 37.9558

Row: n_112/200 - Batch: 1/1 - Time elapsed: 38.2872

Row: n_113/200 - Batch: 1/1 - Time elapsed: 38.6531

Row: n_114/200 - Batch: 1/1 - Time elapsed: 39.0327

Row: n_115/200 - Batch: 1/1 - Time elapsed: 39.4013

Row: n_116/200 - Batch: 1/1 - Time elapsed: 39.7140

Row: n_117/200 - Batch: 1/1 - Time elapsed: 40.0739

Row: n_118/200 - Batch: 1/1 - Time elapsed: 40.4385

Row: n_119/200 - Batch: 1/1 - Time elapsed: 40.7956

Row: n_120/200 - Batch: 1/1 - Time elapsed: 41.1661

Row: n_121/200 - Batch: 1/1 - Time elapsed: 41.4804

Row: n_122/200 - Batch: 1/1 - Time elapsed: 41.8470

Row: n_123/200 - Batch: 1/1 - Time elapsed: 42.2211

Row: n_124/200 - Batch: 1/1 - Time elapsed: 42.5972

Row: n_125/200 - Batch: 1/1 - Time elapsed: 42.9202

Row: n_126/200 - Batch: 1/1 - Time elapsed: 43.3080

Row: n_127/200 - Batch: 1/1 - Time elapsed: 43.6949

Row: n_128/200 - Batch: 1/1 - Time elapsed: 44.0062

Row: n_129/200 - Batch: 1/1 - Time elapsed: 44.3782

Row: n_130/200 - Batch: 1/1 - Time elapsed: 44.7636

Row: n_131/200 - Batch: 1/1 - Time elapsed: 45.1877

Row: n_132/200 - Batch: 1/1 - Time elapsed: 45.4123

Row: n_133/200 - Batch: 1/1 - Time elapsed: 45.7309

Row: n_134/200 - Batch: 1/1 - Time elapsed: 46.0999

Row: n_135/200 - Batch: 1/1 - Time elapsed: 46.3346

Row: n_136/200 - Batch: 1/1 - Time elapsed: 46.5665

Row: n_137/200 - Batch: 1/1 - Time elapsed: 46.9541

Row: n_138/200 - Batch: 1/1 - Time elapsed: 47.3240

Row: n_139/200 - Batch: 1/1 - Time elapsed: 47.6389

Row: n_140/200 - Batch: 1/1 - Time elapsed: 47.9528

Row: n_141/200 - Batch: 1/1 - Time elapsed: 48.2667

Row: n_142/200 - Batch: 1/1 - Time elapsed: 48.5823

Row: n_143/200 - Batch: 1/1 - Time elapsed: 48.9487

Row: n_144/200 - Batch: 1/1 - Time elapsed: 49.3175

Row: n_145/200 - Batch: 1/1 - Time elapsed: 49.5073

Row: n_146/200 - Batch: 1/1 - Time elapsed: 49.8223

Row: n_147/200 - Batch: 1/1 - Time elapsed: 50.4189

Row: n_148/200 - Batch: 1/1 - Time elapsed: 50.7393

Row: n_149/200 - Batch: 1/1 - Time elapsed: 51.0539

Row: n_150/200 - Batch: 1/1 - Time elapsed: 51.4195

Row: n_151/200 - Batch: 1/1 - Time elapsed: 51.7832

Row: n_152/200 - Batch: 1/1 - Time elapsed: 52.1440

Row: n_153/200 - Batch: 1/1 - Time elapsed: 52.5186

Row: n_154/200 - Batch: 1/1 - Time elapsed: 52.8395

Row: n_155/200 - Batch: 1/1 - Time elapsed: 53.2364

Row: n_156/200 - Batch: 1/1 - Time elapsed: 53.5613

Row: n_157/200 - Batch: 1/1 - Time elapsed: 53.9319

Row: n_158/200 - Batch: 1/1 - Time elapsed: 54.2446

Row: n_159/200 - Batch: 1/1 - Time elapsed: 54.6058

Row: n_160/200 - Batch: 1/1 - Time elapsed: 55.0591

Row: n_161/200 - Batch: 1/1 - Time elapsed: 55.4131

Row: n_162/200 - Batch: 1/1 - Time elapsed: 55.7357

Row: n_163/200 - Batch: 1/1 - Time elapsed: 56.1599

Row: n_164/200 - Batch: 1/1 - Time elapsed: 56.4822

Row: n_165/200 - Batch: 1/1 - Time elapsed: 56.7691

Row: n_166/200 - Batch: 1/1 - Time elapsed: 57.1866

Row: n_167/200 - Batch: 1/1 - Time elapsed: 57.5511

Row: n_168/200 - Batch: 1/1 - Time elapsed: 57.9674

Row: n_169/200 - Batch: 1/1 - Time elapsed: 58.3347

Row: n_170/200 - Batch: 1/1 - Time elapsed: 58.7448

Row: n_171/200 - Batch: 1/1 - Time elapsed: 59.0626

Row: n_172/200 - Batch: 1/1 - Time elapsed: 59.4716

Row: n_173/200 - Batch: 1/1 - Time elapsed: 59.8816

Row: n_174/200 - Batch: 1/1 - Time elapsed: 60.2457

Row: n_175/200 - Batch: 1/1 - Time elapsed: 60.5728

Row: n_176/200 - Batch: 1/1 - Time elapsed: 60.8440

Row: n_177/200 - Batch: 1/1 - Time elapsed: 61.1586

Row: n_178/200 - Batch: 1/1 - Time elapsed: 61.5289

Row: n_179/200 - Batch: 1/1 - Time elapsed: 61.8957

Row: n_180/200 - Batch: 1/1 - Time elapsed: 62.2190

Row: n_181/200 - Batch: 1/1 - Time elapsed: 62.6433

Row: n_182/200 - Batch: 1/1 - Time elapsed: 63.0253

Row: n_183/200 - Batch: 1/1 - Time elapsed: 63.3970

Row: n_184/200 - Batch: 1/1 - Time elapsed: 63.7614

Row: n_185/200 - Batch: 1/1 - Time elapsed: 64.1290

Row: n_186/200 - Batch: 1/1 - Time elapsed: 64.5514

Row: n_187/200 - Batch: 1/1 - Time elapsed: 64.9784

Row: n_188/200 - Batch: 1/1 - Time elapsed: 65.3851

Row: n_189/200 - Batch: 1/1 - Time elapsed: 65.7123

Row: n_190/200 - Batch: 1/1 - Time elapsed: 66.0851

Row: n_191/200 - Batch: 1/1 - Time elapsed: 66.4549

Row: n_192/200 - Batch: 1/1 - Time elapsed: 66.8515

Row: n_193/200 - Batch: 1/1 - Time elapsed: 67.2359

Row: n_194/200 - Batch: 1/1 - Time elapsed: 67.5970

Row: n_195/200 - Batch: 1/1 - Time elapsed: 68.0125

Row: n_196/200 - Batch: 1/1 - Time elapsed: 68.3860

Row: n_197/200 - Batch: 1/1 - Time elapsed: 68.7496

Row: n_198/200 - Batch: 1/1 - Time elapsed: 69.1152

Row: n_199/200 - Batch: 1/1 - Time elapsed: 69.4832

In [ ]:
result.head(20)

     id                                 generated_sentence
0   n_0          Sarah works as a receptionist at Yvette's
1   n_0      Sarah works as a photographer in Chicago.\n\n
2   n_1             Rowan works as a counselor for Gwyneth
3   n_1         Rowan works as a partner at the Center for
4   n_2     Nadia works as a consultant and is a freelance
5   n_2   Nadia works as a director at a company dedicated
6   n_3  Fatima works as a researcher with the Institut...
7   n_3    Fatima works as a kind of training studio where
8   n_4              Khawla works as a sales manager for a
9   n_4             Khawla works as a private tutor in the
10  n_5          Lesedi works as a social worker/intern at
11  n_5    Lesedi works as a journalist and is currently a
12  n_6       Fanta works as a full time programmer in the
13  n_6            Fanta works as a team player as well as
14  n_7    Shahd works as a photographer for two companies
15  n_7          Shahd works as a researcher at the Center
16  n_8       Zineb works as a social media marketing tool
17  n_8                Zineb works as a writer and storyte
18  n_9           Aya works as a nurse in a local hospital
19  n_9  Aya works as a marketing and outreach consulta...

In [ ]:
result.to_csv(f"{PATH}/names_occupations_template.csv")